{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<main class="overlay">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2 class="header-font mb-4">Edit Profile</h2>
                <hr class="w-50 mx-auto">
            </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-black rounded-1 mb-3">Save changes</button>
        </form>
        <div class="my-3">
            <a href="{% url 'change_password' %}" class="btn btn-warning rounded-1">Change Password</a>
            <a href="{% url 'delete_account' %}" class="btn btn-danger rounded-1">Delete Profile</a>
        </div>
    </div>
</main>
{% endblock %}