{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Learn about Honeypot Honey's journey, our commitment to sustainable beekeeping practices, and our collection of fine, single-origin and infused honeys.">
<meta name="author" content="Honeypot Honey">
<meta name="keywords" content="honeypot honey, sustainable beekeeping, single-origin honey, infused honey, honey, natural honey, beekeeping, cinnamon infused honey, ginger infused honey, honey benefits">

<meta property="og:title" content="About Us - Honeypot Honey">
<meta property="og:description" content="Discover the story behind Honeypot Honey, from our humble beginnings to our passion for sustainable beekeeping and exceptional honey products.">
{% endblock %}

{% block content %}
<main>
    <div class="overlay">
        <a class="text-decoration-none d-flex ms-3 mt-1" href="{% url 'home' %}">&laquo; Go Back</a>
        
        <!-- Blog Post Section -->
        <h2 class="my-4 p-1 text-center page-title-font">About Us</h2>
        <hr>
        <h3 class="hidden-heading"></h3>
        <article class="card-text m-2 p-2 m-lg-5 p-lg-5 text-start">
            <p class="m-3 p-4 fw-lighter">
                At Honeypot Honey, our passion is as pure and golden as the honey we offer. 
                We believe in the simple goodness of nature, the tireless work of bees, and the exquisite flavors that result from their
                dedication. Discover our story and our commitment to bringing you exceptional honey, straight from the hive to your home.
                Our journey began with a deep appreciation for the natural world and a fascination with the intricate society of honeybees.
            </p>
            <h4 class="m-3">Start of our Journey</h4>
            <p class="m-3 p-4 fw-lighter">
                What started as a humble endeavor, inspired by the local flora and the vital role of pollinators, has blossomed into
                Honeypot Honey – a purveyor of fine, single-origin, and infused honeys crafted with care and respect for the environment.                
                We work closely with a network of dedicated beekeepers who share our commitment to sustainable and ethical beekeeping practices.
                We believe that healthy bees produce the best honey, and we prioritize their well-being above all else.
            </p> 
            <h4 class="m-3">What We Are Up To</h4>
            <p class="m-3 p-4 fw-lighter">
                Our beekeepers carefully tend to their hives, ensuring the bees have access to diverse and abundant nectar sources,
                allowing them to create the unique and delicious honeys that define our collection.                
                At Honeypot Honey, we celebrate the remarkable diversity of honey. Just as different regions and grape varietals impart unique
                characteristics to wine, the floral source of nectar profoundly influences the flavor, aroma, and even the texture of honey. 
                That's why we take pride in our selection of single-origin honeys, each a testament to the specific blossoms that nourished the bees.
                From the delicate sweetness of our <strong>Honeypot - Acacia Honey</strong> to the robust notes of our <strong>Honeypot - Buckwheat Honey</strong>,
                we invite you to taste the terroir of the hive. 
            </p>
            <p class="m-3 p-4 fw-lighter">                     
                Beyond our pure honeys, we also love to explore exciting flavor combinations through our infused range. 
                Our <strong>Honeypot - Cinnamon Infused Honey</strong> adds a warm spice to your morning toast, while our <strong>Honeypot - Ginger Infused Honey</strong> brings a zesty kick to your tea or culinary creations.
                These infusions are crafted with natural ingredients, complementing the inherent goodness of our honey.                
                We understand that honey is more than just a sweetener. It's a natural wonder with a rich history and a wealth of potential benefits. That's why we are committed to providing you with honey that is as close to its natural state as possible. Our minimally processed honeys retain their natural enzymes,
                pollen, and antioxidants, ensuring you experience the full spectrum of their goodness.  
            </p> 
            <h4 class="m-3">Our Ethos</h4>
            <p class="m-3 p-4 fw-lighter">
                Our commitment extends beyond the quality of our honey. We are deeply invested in supporting pollinator health and promoting
                sustainable practices. We believe in educating our customers about the vital role bees play in our ecosystem and encouraging actions that contribute to their well-being.                
                From our family to yours, we pour our passion into every jar of Honeypot Honey. We hope you enjoy the exquisite flavors and natural goodness that nature and the amazing honeybees have to offer.
            </p>
            <p class="m-3 p-4 fw-lighter">
                Thank you for choosing <strong>Honeypot Honey</strong> – a taste of nature's sweet perfection.
            </p>
        </article>
    </div>
</main>
{% endblock %}