<div class="payment-wrapper d-flex flex-column">
    <fieldset class="p-3 mb-4">
        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
        <!-- A Stripe card element will go here -->
        <div class="m-3" id="payment-element"></div>
        <!-- Used to display form errors -->
        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
        <!-- Pass the client secret to the view so we can get the payment intent id -->
        <input type="hidden" value="{{ client_secret }}" name="client_secret">
    </fieldset>

    <div class="submit-button text-end mt-1 mb-2">                    
        <a href="{% url 'view_bag' %}" class="btn btn-black text-white rounded-1 mb-1">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Update Bag</span>
        </a>
        <button id="submit-button" class="btn btn-black rounded-1 mb-1">
            <span>Complete Order</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </button>
        <p class="small text-warning my-2">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>&#8364;{{ grand_total|floatformat:2 }}</strong></span>
        </p>
    </div>
</div>