/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-family: "Lavishly Yours", Geneva, Verdana, sans-serif;
    color:#000 !important;
}

html {
    height: 100%;
}

/* Header Settings */
header {
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1030;
    width: 100%;
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
}

.header-font {
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    color: #000;
}

.border-line {
    border-left: 1px solid #000000 !important;
    margin-left: .5rem;
    height: 15px;
}

.dropdown-menu {
    width: auto !important;
    min-width: 200px;
    background-color: white;
    text-align: left;
}

.dropdown-menu li {
    white-space: nowrap;
    padding: 5px 15px;
}

.navbar .dropdown-menu {
    position: absolute;
    left: auto;
    right: auto;
}

/* Body Settings */

body {
    background: url('/media/background-honey.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    color: #555;
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: var(--header-height, 80px);
}

.shop-now-button {
    background: black;
    color: white;
    font-size: large;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
    border-radius: 5px;
    font-size: large;
    padding: 5px;
}

.btn-warning, .btn-danger {
    font-size: large;
    padding: 5px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-black:hover {
    color: #302e2e !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-purple {
    background: #c48bdf !important;
}

.overlay {
    margin: 150px 0 150px 0;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-size: larger;
    font-weight: bold;
}

a {
    color: #b973da;
}

a:hover {
    color: #9637c2;
}

/* Footer Settings */

footer {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.7);
    z-index: 1030;
    width: 100%;
    font-family: 'Work Sans', 'Times New Roman', Times, serif;
}

/* Form styles */
form input {
    width: 75%;
}

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }


    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    main {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }