{% extends 'base.html' %}

{% block content %}
<main>
    <div class="overlay text-center">
        <h2 class="text-center my-3 p-2">Delete Post</h2>
        <p class="fw-bold">Are you sure you want to delete your post "{{ blogpost.title }}"?</p>
        <p class="text-danger fw-bold">Warning! This action is irreversible!</p>
        <div class="d-flex justify-content-center">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger my-2 mx-3" type="submit">Yes</button>
            </form>
            <a class="btn btn-black my-2 mx-3" href="{% url 'post' blogpost.slug %}">Cancel</a>
        </div>
    </div>
</main>
{% endblock %}