{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<main class="px-3 overlay">
    <div class="container-fluid">
        <div class="row">
            <a class="mt-0" href="{% url 'edit_profile' %}">&laquo; Back to Edit Profile</a>
            <div class="col-md-6 my-4 offset-md-2">
                <h1 class="text-center">{% trans "Change Password" %}</h1>
                <hr>
                <form method="POST" action="{% url 'change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-black me-2" type="submit" name="action">{% trans "Change Password" %}</button>
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
