{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<main class="px-3 sign-up-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 my-4 offset-md-2">
        <h1>{% trans "Sign Up" %}</h1>
  
        <p>{% blocktrans %}Welcome to HoneyPot!
          Already have an account? <a href="{{ login_url }}">Create Account</a>.{% endblocktrans %}
        </p>
      </div>
    </div>
  
        <!-- Sign Up Form -->
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <form class="col-12 signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.non_field_errors }}
              <div class="p-xs-2 mb-1">
                <label for="id_first_name">First Name</label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                <div class="text-danger">
                  {% for error in form.first_name.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              </div>
              <div class="p-xs-2 mb-1">
                <label for="id_last_name">Last Name</label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                <div class="text-danger">
                  {% for error in form.last_name.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              </div>
              <div class="p-xs-2 mb-1">
                <label for="id_username">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                <div class="text-danger">
                  {% for error in form.username.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
                <small class="help-text">Choose a unique username</small>
              </div>
              <div class="p-xs-2 mb-1">
                <label for="id_email">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                <div class="text-danger">
                  {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
                <small class="help-text">Enter your email address</small>
              </div>
              <div class="p-xs-2 mb-1">
                <label for="id_password1">Password</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                <div class="text-danger">
                  {% for error in form.password1.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
                <small class="help-text">Choose a strong password</small><br>
                <button type="button" class="toggle-popover" data-bs-toggle="popover" title="Password Requirements"
                  data-bs-trigger="hover" data-bs-content="&#9900; Your password can't be too similar to your other personal information
                  &#9900; Your password must contain at least 8 characters
                  &#9900; Your password can't be a commonly used password
                  &#9900; Your password can't be entirely numeric">?</button>
              </div>
              <div class="p-xs-2 mb-1">
                <label for="id_password2">Confirm Password</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                <div class="text-danger">
                  {% for error in form.password2.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
                <small class="help-text">Confirm your password</small>
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn-black sign-up-button" type="submit">{% trans "Sign Up" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- JS Script -->
  <script src="{% static 'js/sign-up-popover.js' %}"></script>
</main>
{% endblock %}
