.form-check-input:checked {
    background-color: #9957b8;
    border-color: #9957b8;
}

.text-info {
    color: #9957b8 !important;
}

.page-link {
    color: #9957b8 !important;
}

.stripe-style-input {
  box-sizing: border-box;
  padding: 10px 12px;
  border: 1px solid transparent #9957b8;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 5px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #9957b8;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 3px 5px 0 #a852cf;
}

.stripe-style-input::placeholder,
select::placeholder {
    color: #d26fdf !important;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

/* Ensure the payment element sits clearly and doesn't overflow */
#payment-element {
    display: block;
    min-height: 150px;
    position: relative;
    z-index: 1;
}

/* Prevent button from overlapping it */
.submit-button {
    position: relative;
    z-index: 2;
    clear: both;
}

fieldset {
    position: relative;
    overflow: visible;
}

.payment-wrapper {
    position: relative;
    z-index: 0;
}

.payment-container {
    margin-top: 2rem;
}

#payment-form .form-control {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    border: 1px solid #000 !important;
    color: #9957b8;
}

select option[value=""] {
    color: #9957b8;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 231, 11, 0.925);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

@media (min-width: 992px) {
    .payment-container {
        position: absolute;
        right: 2rem;
        top: 30rem;
        width: 40%;
    }
}